*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.18 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.rcp-container {
  width: 100%;
}

@media (min-width: 640px) {
  .rcp-container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .rcp-container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .rcp-container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .rcp-container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .rcp-container {
    max-width: 1536px;
  }
}

.rcp-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.rcp-absolute {
  position: absolute;
}

.rcp-relative {
  position: relative;
}

.rcp-left-0 {
  left: 0px;
}

.rcp-left-full {
  left: 100%;
}

.rcp-top-0 {
  top: 0px;
}

.rcp-top-1\/2 {
  top: 50%;
}

.rcp-col-span-2 {
  grid-column: span 2 / span 2;
}

.rcp-row-span-2 {
  grid-row: span 2 / span 2;
}

.-rcp-mx-5 {
  margin-left: -1.25rem;
  margin-right: -1.25rem;
}

.rcp-mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.rcp-my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.rcp-mb-0\.5 {
  margin-bottom: 0.125rem;
}

.rcp-mb-1 {
  margin-bottom: 0.25rem;
}

.rcp-mb-3 {
  margin-bottom: 0.75rem;
}

.rcp-mb-4 {
  margin-bottom: 1rem;
}

.rcp-mb-6 {
  margin-bottom: 1.5rem;
}

.rcp-mb-8 {
  margin-bottom: 2rem;
}

.rcp-ml-1 {
  margin-left: 0.25rem;
}

.rcp-ml-2 {
  margin-left: 0.5rem;
}

.rcp-mt-1\.5 {
  margin-top: 0.375rem;
}

.rcp-mt-10 {
  margin-top: 2.5rem;
}

.rcp-mt-2 {
  margin-top: 0.5rem;
}

.rcp-mt-3 {
  margin-top: 0.75rem;
}

.rcp-mt-4 {
  margin-top: 1rem;
}

.rcp-mt-5 {
  margin-top: 1.25rem;
}

.rcp-mt-9 {
  margin-top: 2.25rem;
}

.rcp-block {
  display: block;
}

.rcp-inline-block {
  display: inline-block;
}

.rcp-inline {
  display: inline;
}

.rcp-flex {
  display: flex;
}

.rcp-inline-flex {
  display: inline-flex;
}

.rcp-grid {
  display: grid;
}

.rcp-hidden {
  display: none;
}

.rcp-aspect-square {
  aspect-ratio: 1 / 1;
}

.rcp-h-10 {
  height: 2.5rem;
}

.rcp-h-11 {
  height: 2.75rem;
}

.rcp-h-4 {
  height: 1rem;
}

.rcp-h-5 {
  height: 1.25rem;
}

.rcp-h-6 {
  height: 1.5rem;
}

.rcp-h-8 {
  height: 2rem;
}

.rcp-h-\[120px\] {
  height: 120px;
}

.rcp-h-\[168px\] {
  height: 168px;
}

.rcp-h-auto {
  height: auto;
}

.rcp-h-full {
  height: 100%;
}

.rcp-min-h-11 {
  min-height: 2.75rem;
}

.rcp-min-h-14 {
  min-height: 3.5rem;
}

.rcp-w-10 {
  width: 2.5rem;
}

.rcp-w-11 {
  width: 2.75rem;
}

.rcp-w-14 {
  width: 3.5rem;
}

.rcp-w-4 {
  width: 1rem;
}

.rcp-w-6 {
  width: 1.5rem;
}

.rcp-w-8 {
  width: 2rem;
}

.rcp-w-\[120px\] {
  width: 120px;
}

.rcp-w-\[140px\] {
  width: 140px;
}

.rcp-w-\[168px\] {
  width: 168px;
}

.rcp-w-\[var\(--percent\)\] {
  width: var(--percent);
}

.rcp-w-full {
  width: 100%;
}

.rcp-min-w-20 {
  min-width: 5rem;
}

.rcp-min-w-28 {
  min-width: 7rem;
}

.rcp-min-w-32 {
  min-width: 8rem;
}

.rcp-min-w-52 {
  min-width: 13rem;
}

.rcp-max-w-64 {
  max-width: 16rem;
}

.rcp-max-w-\[1534px\] {
  max-width: 1534px;
}

.rcp-max-w-xl {
  max-width: 36rem;
}

.rcp-flex-shrink-0 {
  flex-shrink: 0;
}

.rcp-flex-grow {
  flex-grow: 1;
}

.-rcp-translate-x-1\/2 {
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-rcp-translate-y-1\/2 {
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@keyframes rcp-spin {
  to {
    transform: rotate(360deg);
  }
}

.rcp-animate-spin {
  animation: rcp-spin 1s linear infinite;
}

.rcp-cursor-pointer {
  cursor: pointer;
}

.rcp-grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.rcp-grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.rcp-grid-cols-\[2fr_1fr_1fr_1fr\] {
  grid-template-columns: 2fr 1fr 1fr 1fr;
}

.rcp-grid-cols-\[94px_1fr\] {
  grid-template-columns: 94px 1fr;
}

.rcp-flex-row {
  flex-direction: row;
}

.rcp-flex-col {
  flex-direction: column;
}

.rcp-flex-wrap {
  flex-wrap: wrap;
}

.rcp-flex-nowrap {
  flex-wrap: nowrap;
}

.rcp-items-start {
  align-items: flex-start;
}

.rcp-items-center {
  align-items: center;
}

.rcp-items-stretch {
  align-items: stretch;
}

.rcp-justify-start {
  justify-content: flex-start;
}

.rcp-justify-end {
  justify-content: flex-end;
}

.rcp-justify-center {
  justify-content: center;
}

.rcp-justify-between {
  justify-content: space-between;
}

.rcp-gap-0\.5 {
  gap: 0.125rem;
}

.rcp-gap-1 {
  gap: 0.25rem;
}

.rcp-gap-10 {
  gap: 2.5rem;
}

.rcp-gap-2 {
  gap: 0.5rem;
}

.rcp-gap-2\.5 {
  gap: 0.625rem;
}

.rcp-gap-3 {
  gap: 0.75rem;
}

.rcp-gap-4 {
  gap: 1rem;
}

.rcp-gap-5 {
  gap: 1.25rem;
}

.rcp-gap-6 {
  gap: 1.5rem;
}

.rcp-gap-8 {
  gap: 2rem;
}

.rcp-gap-x-4 {
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}

.rcp-gap-x-8 {
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}

.rcp-gap-y-1 {
  row-gap: 0.25rem;
}

.rcp-space-y-12 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(3rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(3rem * var(--tw-space-y-reverse));
}

.rcp-space-y-3 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.75rem * var(--tw-space-y-reverse));
}

.rcp-space-y-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}

.rcp-overflow-hidden {
  overflow: hidden;
}

.rcp-whitespace-nowrap {
  white-space: nowrap;
}

.\!rcp-rounded {
  border-radius: 0.25rem !important;
}

.rcp-rounded-2xl {
  border-radius: 1rem;
}

.rcp-rounded-full {
  border-radius: 9999px;
}

.rcp-rounded-lg {
  border-radius: 0.5rem;
}

.rcp-rounded-md {
  border-radius: 0.375rem;
}

.rcp-rounded-sm {
  border-radius: 0.125rem;
}

.rcp-rounded-xl {
  border-radius: 0.75rem;
}

.rcp-rounded-bl-xl {
  border-bottom-left-radius: 0.75rem;
}

.rcp-rounded-tl-xl {
  border-top-left-radius: 0.75rem;
}

.rcp-border-1 {
  border-width: 1px;
}

.rcp-border-2 {
  border-width: 2px;
}

.rcp-border-base-gray {
  --tw-border-opacity: 1;
  border-color: rgb(218 221 226 / var(--tw-border-opacity, 1));
}

.rcp-border-primary-base {
  --tw-border-opacity: 1;
  border-color: rgb(59 99 128 / var(--tw-border-opacity, 1));
}

.rcp-bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1));
}

.rcp-bg-primary-gray {
  --tw-bg-opacity: 1;
  background-color: rgb(238 237 231 / var(--tw-bg-opacity, 1));
}

.rcp-bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.rcp-bg-\[\#F5F7F8\] {
  --tw-bg-opacity: 1;
  background-color: rgb(245 247 248 / var(--tw-bg-opacity, 1));
}

.rcp-bg-\[\#EEEDE7\] {
  --tw-bg-opacity: 1;
  background-color: rgb(238 237 231 / var(--tw-bg-opacity, 1));
}

.rcp-bg-gradient-to-r {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
}

.rcp-from-primary-accent {
  --tw-gradient-from: #EF282D var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(239 40 45 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.rcp-to-primary-base {
  --tw-gradient-to: #3B6380 var(--tw-gradient-to-position);
}

.rcp-fill-current {
  fill: currentColor;
}

.rcp-fill-primary-base {
  fill: #3B6380;
}

.rcp-object-contain {
  -o-object-fit: contain;
     object-fit: contain;
}

.rcp-object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.rcp-p-4 {
  padding: 1rem;
}

.rcp-px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.rcp-px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.rcp-px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.rcp-px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.rcp-py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.rcp-py-1\.5 {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}

.rcp-py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.rcp-py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.rcp-pb-20 {
  padding-bottom: 5rem;
}

.rcp-pb-4 {
  padding-bottom: 1rem;
}

.rcp-pb-6 {
  padding-bottom: 1.5rem;
}

.rcp-pt-1 {
  padding-top: 0.25rem;
}

.rcp-pt-14 {
  padding-top: 3.5rem;
}

.rcp-pt-2 {
  padding-top: 0.5rem;
}

.rcp-pt-20 {
  padding-top: 5rem;
}

.rcp-pt-3 {
  padding-top: 0.75rem;
}

.rcp-pt-4 {
  padding-top: 1rem;
}

.rcp-pt-5 {
  padding-top: 1.25rem;
}

.rcp-pt-7 {
  padding-top: 1.75rem;
}

.rcp-pt-8 {
  padding-top: 2rem;
}

.rcp-text-center {
  text-align: center;
}

.rcp-text-right {
  text-align: right;
}

.rcp-font-gtAmerica {
  font-family: 'GT America Trial', sans-serif;;
}

.rcp-font-hanleyBlock {
  font-family: 'Hanley Pro', sans-serif;;
}

.rcp-font-hanleyMonolineSans {
  font-family: 'Hanley MonolineSans', sans-serif;;
}

.rcp-font-hanleyProSans {
  font-family: 'Hanley Pro Sans', sans-serif;;
}

.rcp-font-optimalMedium {
  font-family: 'OptimaLTPro Medium', sans-serif;;
}

.\!rcp-text-xs {
  font-size: 0.75rem !important;
  line-height: 1rem !important;
}

.rcp-text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.rcp-text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.rcp-text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.rcp-text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.rcp-text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.rcp-text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.rcp-text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.rcp-font-bold {
  font-weight: 700;
}

.rcp-font-medium {
  font-weight: 500;
}

.rcp-font-normal {
  font-weight: 400;
}

.rcp-font-semibold {
  font-weight: 600;
}

.rcp-uppercase {
  text-transform: uppercase;
}

.rcp-lowercase {
  text-transform: lowercase;
}

.rcp-capitalize {
  text-transform: capitalize;
}

.\!rcp-leading-none {
  line-height: 1 !important;
}

.rcp-leading-120 {
  line-height: 120%;
}

.rcp-leading-6 {
  line-height: 1.5rem;
}

.rcp-leading-\[68px\] {
  line-height: 68px;
}

.rcp-leading-none {
  line-height: 1;
}

.rcp-leading-tight {
  line-height: 1.25;
}

.rcp-leading-5 {
  line-height: 1.25rem;
}

.rcp-tracking-wider {
  letter-spacing: 0.05em;
}

.rcp-tracking-widest {
  letter-spacing: 0.1em;
}

.rcp-text-gray-600 {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity, 1));
}

.rcp-text-inherit {
  color: inherit;
}

.rcp-text-primary-accent {
  --tw-text-opacity: 1;
  color: rgb(239 40 45 / var(--tw-text-opacity, 1));
}

.rcp-text-primary-base {
  --tw-text-opacity: 1;
  color: rgb(59 99 128 / var(--tw-text-opacity, 1));
}

.rcp-text-primary-base\/70 {
  color: rgb(59 99 128 / 0.7);
}

.rcp-text-primary-gray {
  --tw-text-opacity: 1;
  color: rgb(238 237 231 / var(--tw-text-opacity, 1));
}

.rcp-text-\[\#3B6380\] {
  --tw-text-opacity: 1;
  color: rgb(59 99 128 / var(--tw-text-opacity, 1));
}

.rcp-no-underline {
  text-decoration-line: none;
}

.rcp-shadow-\[0_4px_48px_rgba\(0\,0\,0\,0\.08\)\] {
  --tw-shadow: 0 4px 48px rgba(0,0,0,0.08);
  --tw-shadow-colored: 0 4px 48px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.rcp-transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.rcp-transition-opacity {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

html {
  /* font-size: calc(var(--font-body-scale) * 62.5%); */
  font-size: 100%;
}

.shopify-section-group-header-group {
  display: none !important;
}

#react-app-ext {
  display: block !important;
}

#shopify-section-template--25063974732055__17603514323c121e26 .page-width {
  max-width: 1728px;
  padding: 0px !important;
}

.template-page.customer-portal {
  --tw-bg-opacity: 1;
  background-color: rgb(238 237 231 / var(--tw-bg-opacity, 1));
}

.template-page.customer-portal .page-width {
  max-width: none;
}

/*
    FORMS
*/

.form-field--login {
  width: 100%;
  border-bottom-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(59 99 128 / var(--tw-border-opacity, 1));
  background-color: transparent;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: 'OptimaLTPro Medium', sans-serif;;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgb(59 99 128 / var(--tw-text-opacity, 1));
}

.form-field--login::-moz-placeholder {
  --tw-text-opacity: 1;
  color: rgb(59 99 128 / var(--tw-text-opacity, 1));
}

.form-field--login::placeholder {
  --tw-text-opacity: 1;
  color: rgb(59 99 128 / var(--tw-text-opacity, 1));
}

.form-field--login:focus-visible {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 1024px) {
  .form-field--login {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

/*
    FORMS END
*/

.customer-portal-panel {
  overflow: hidden;
  border-radius: 1rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.customer-portal-panel--no-bg {
  overflow: hidden;
  border-radius: 1rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
  --tw-shadow: 0 4px 48px rgba(0,0,0,0.08);
  --tw-shadow-colored: 0 4px 48px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.customer-portal-panel__header {
  --tw-bg-opacity: 1;
  background-color: rgb(59 99 128 / var(--tw-bg-opacity, 1));
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

@media (min-width: 1024px) {
  .customer-portal-panel__header {
    min-height: 88px;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

.customer-portal-panel__header--inactive {
  --tw-bg-opacity: 1;
  background-color: rgb(238 237 231 / var(--tw-bg-opacity, 1));
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  --tw-text-opacity: 1;
  color: rgb(59 99 128 / var(--tw-text-opacity, 1));
}

.customer-portal-panel__content {
  padding: 1rem;
}

@media (min-width: 768px) {
  .customer-portal-panel__content {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-bottom: 1.5rem;
    padding-top: 2rem;
  }
}

/*
    BUTTONS
*/

.cp-button {
  display: flex;
  cursor: pointer;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-radius: 0.375rem;
  padding: 0.5rem;
  padding-top: 0.625rem;
  font-family: 'Hanley MonolineSans', sans-serif;;
  font-size: 0.75rem;
  line-height: 1rem;
  text-transform: uppercase;
  line-height: 1;
}

@media (min-width: 768px) {
  .cp-button {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.cp-button--primary {
  --tw-bg-opacity: 1;
  background-color: rgb(239 40 45 / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.cp-button--primary:hover {
  background-color: rgb(239 40 45 / 0.75);
}

.cp-button--secondary {
  --tw-bg-opacity: 1;
  background-color: rgb(238 237 231 / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgb(59 99 128 / var(--tw-text-opacity, 1));
}

.cp-button--secondary:hover {
  background-color: rgb(238 237 231 / 0.75);
}

.rcp-button {
  display: flex;
  cursor: pointer;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-radius: 0.75rem;
  padding: 0.5rem;
  padding-top: 0.625rem;
  font-family: 'Hanley MonolineSans', sans-serif;;
  font-size: 1rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  line-height: 1;
}

.rcp-button--primary {
  --tw-bg-opacity: 1;
  background-color: rgb(239 40 45 / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.rcp-button--primary:hover {
  background-color: rgb(239 40 45 / 0.75);
}

.rcp-button--primary-outline {
  border-radius: 0.125rem;
  border-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgb(59 99 128 / var(--tw-border-opacity, 1));
  font-size: 0.75rem;
  line-height: 1rem;
  --tw-text-opacity: 1;
  color: rgb(59 99 128 / var(--tw-text-opacity, 1));
}

.rcp-button--primary-outline:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.rcp-button--secondary {
  --tw-bg-opacity: 1;
  background-color: rgb(238 237 231 / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgb(59 99 128 / var(--tw-text-opacity, 1));
}

.rcp-button--secondary:hover {
  background-color: rgb(238 237 231 / 0.75);
}

/*
    BUTTONS END
*/

.splide__arrows {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;
}

.splide__arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  height: 2.25rem;
  width: 2.25rem;
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  background-color: rgb(59 99 128 / 0.05);
}

.splide__arrow:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(59 99 128 / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

@media (min-width: 1024px) {
  .splide__arrow {
    height: 3rem;
    width: 3rem;
  }
}

.splide__arrow--prev {
  left: 0px;
}

.splide__arrow--next {
  right: 0px;
}

.splide__arrow svg {
  height: auto;
  width: 0.375rem;
  fill: currentColor;
}

@media (min-width: 1024px) {
  .splide__arrow svg {
    width: 0.625rem;
  }
}

.splide__arrow--prev svg {
  transform: none;
}

.widget-aside {
  position: relative;
  border-radius: 1rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
  padding: 1.25rem;
  padding-bottom: 1rem;
  font-family: 'OptimaLTPro Medium', sans-serif;;
  font-size: 1.125rem;
  line-height: 1.75rem;
  --tw-text-opacity: 1;
  color: rgb(59 99 128 / var(--tw-text-opacity, 1));
  --tw-shadow: 0 4px 48px rgba(0,0,0,0.08);
  --tw-shadow-colored: 0 4px 48px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

@media (min-width: 1024px) {
  .widget-aside {
    padding: 2rem;
    padding-bottom: 1.75rem;
  }
}

.before\:rcp-block::before {
  content: var(--tw-content);
  display: block;
}

.before\:rcp-pb-\[75\%\]::before {
  content: var(--tw-content);
  padding-bottom: 75%;
}

.hover\:rcp-bg-white:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.hover\:rcp-bg-\[\#F5F7F8\]\/75:hover {
  background-color: rgb(245 247 248 / 0.75);
}

.hover\:rcp-bg-\[\#EEEDE7\]\/75:hover {
  background-color: rgb(238 237 231 / 0.75);
}

.hover\:rcp-underline:hover {
  text-decoration-line: underline;
}

.hover\:rcp-opacity-80:hover {
  opacity: 0.8;
}

@media (min-width: 640px) {
  .sm\:rcp-order-1 {
    order: 1;
  }

  .sm\:rcp-aspect-auto {
    aspect-ratio: auto;
  }

  .sm\:rcp-grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 768px) {
  .md\:rcp-order-1 {
    order: 1;
  }

  .md\:rcp-col-span-1 {
    grid-column: span 1 / span 1;
  }

  .md\:rcp-row-span-3 {
    grid-row: span 3 / span 3;
  }

  .md\:rcp-mx-0 {
    margin-left: 0px;
    margin-right: 0px;
  }

  .md\:rcp-mt-2 {
    margin-top: 0.5rem;
  }

  .md\:rcp-block {
    display: block;
  }

  .md\:rcp-flex {
    display: flex;
  }

  .md\:rcp-grid {
    display: grid;
  }

  .md\:rcp-hidden {
    display: none;
  }

  .md\:rcp-w-\[400px\] {
    width: 400px;
  }

  .md\:rcp-min-w-32 {
    min-width: 8rem;
  }

  .md\:rcp-min-w-64 {
    min-width: 16rem;
  }

  .md\:rcp-grow {
    flex-grow: 1;
  }

  .md\:rcp-flex-row {
    flex-direction: row;
  }

  .md\:rcp-items-start {
    align-items: flex-start;
  }

  .md\:rcp-items-center {
    align-items: center;
  }

  .md\:rcp-p-5 {
    padding: 1.25rem;
  }

  .md\:rcp-px-11 {
    padding-left: 2.75rem;
    padding-right: 2.75rem;
  }

  .md\:rcp-py-11 {
    padding-top: 2.75rem;
    padding-bottom: 2.75rem;
  }

  .md\:rcp-px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .md\:rcp-pb-6 {
    padding-bottom: 1.5rem;
  }

  .md\:rcp-pt-8 {
    padding-top: 2rem;
  }
}

@media (min-width: 1024px) {
  .lg\:rcp-mb-2\.5 {
    margin-bottom: 0.625rem;
  }

  .lg\:rcp-mb-8 {
    margin-bottom: 2rem;
  }

  .lg\:rcp-mt-10 {
    margin-top: 2.5rem;
  }

  .lg\:rcp-mt-6 {
    margin-top: 1.5rem;
  }

  .lg\:rcp-flex {
    display: flex;
  }

  .lg\:rcp-min-h-14 {
    min-height: 3.5rem;
  }

  .lg\:rcp-min-h-16 {
    min-height: 4rem;
  }

  .lg\:rcp-min-w-32 {
    min-width: 8rem;
  }

  .lg\:rcp-min-w-72 {
    min-width: 18rem;
  }

  .lg\:rcp-min-w-80 {
    min-width: 20rem;
  }

  .lg\:rcp-grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .lg\:rcp-grid-cols-\[1fr_300px\] {
    grid-template-columns: 1fr 300px;
  }

  .lg\:rcp-grid-cols-\[2fr_1fr\] {
    grid-template-columns: 2fr 1fr;
  }

  .lg\:rcp-flex-row {
    flex-direction: row;
  }

  .lg\:rcp-flex-nowrap {
    flex-wrap: nowrap;
  }

  .lg\:rcp-items-start {
    align-items: flex-start;
  }

  .lg\:rcp-items-center {
    align-items: center;
  }

  .lg\:rcp-gap-4 {
    gap: 1rem;
  }

  .lg\:rcp-gap-8 {
    gap: 2rem;
  }

  .lg\:rcp-gap-x-8 {
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }

  .lg\:rcp-space-y-0 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(0px * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0px * var(--tw-space-y-reverse));
  }

  .lg\:rcp-space-y-8 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(2rem * var(--tw-space-y-reverse));
  }

  .lg\:rcp-rounded-3xl {
    border-radius: 1.5rem;
  }

  .lg\:rcp-rounded-lg {
    border-radius: 0.5rem;
  }

  .lg\:rcp-rounded-md {
    border-radius: 0.375rem;
  }

  .lg\:rcp-p-5 {
    padding: 1.25rem;
  }

  .lg\:rcp-py-1\.5 {
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
  }

  .lg\:rcp-pb-0 {
    padding-bottom: 0px;
  }

  .lg\:rcp-pb-1 {
    padding-bottom: 0.25rem;
  }

  .lg\:rcp-pt-0\.5 {
    padding-top: 0.125rem;
  }

  .lg\:rcp-pt-2 {
    padding-top: 0.5rem;
  }

  .lg\:rcp-pt-3 {
    padding-top: 0.75rem;
  }

  .lg\:rcp-pt-4 {
    padding-top: 1rem;
  }

  .lg\:\!rcp-text-base {
    font-size: 1rem !important;
    line-height: 1.5rem !important;
  }

  .lg\:rcp-text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .lg\:rcp-text-5xl {
    font-size: 3rem;
    line-height: 1;
  }

  .lg\:rcp-text-6xl {
    font-size: 3.75rem;
    line-height: 1;
  }

  .lg\:rcp-text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .lg\:rcp-text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 1280px) {
  .xl\:rcp-mt-20 {
    margin-top: 5rem;
  }

  .xl\:rcp-grid-cols-\[1fr_490px\] {
    grid-template-columns: 1fr 490px;
  }

  .xl\:rcp-gap-8 {
    gap: 2rem;
  }
}

.\[\&\.active\]\:rcp-bg-white.active {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.\[\&_\*\]\:rcp-h-full * {
  height: 100%;
}

.\[\&_\*\]\:rcp-w-full * {
  width: 100%;
}

.\[\&_\*\]\:rcp-object-contain * {
  -o-object-fit: contain;
     object-fit: contain;
}

.\[\&_svg\]\:rcp-h-full svg {
  height: 100%;
}

.\[\&_svg\]\:rcp-w-full svg {
  width: 100%;
}

.\[\&_svg\]\:rcp-object-contain svg {
  -o-object-fit: contain;
     object-fit: contain;
}

.\[\&_svg\]\:rcp-object-cover svg {
  -o-object-fit: cover;
     object-fit: cover;
}
